.square_0,
.square_9,
.square_18,
.square_27,
.square_36,
.square_45,
.square_54,
.square_63 {
  background-color: #ff7456;
}

.square_7,
.square_14,
.square_21,
.square_28,
.square_35,
.square_42,
.square_49,
.square_56 {
  background-color: #c6c6c6;
}

.square_1,
.square_12,
.square_23,
.square_26,
.square_37,
.square_40,
.square_51,
.square_62 {
  background-color: #2d00e3;
}

.square_2,
.square_15,
.square_20,
.square_25,
.square_38,
.square_43,
.square_48,
.square_61 {
  background-color: #8267ce;
}

.square_3,
.square_10,
.square_17,
.square_24,
.square_39,
.square_46,
.square_53,
.square_60 {
  background-color: #3be8b0;
}

.square_4,
.square_13,
.square_22,
.square_31,
.square_32,
.square_41,
.square_50,
.square_59 {
  background-color: #ffc11f;
}

.square_5,
.square_8,
.square_19,
.square_30,
.square_33,
.square_44,
.square_55,
.square_58 {
  background-color: #5b9de1;
}

.square_6,
.square_11,
.square_16,
.square_29,
.square_34,
.square_47,
.square_52,
.square_57 {
  background-color: #fd639a;
}
